body {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    .container{
        display: flex;
        justify-content: space-between;
    }
}

.menu-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    .menu-list-item{
        list-style: none;
        .menu-list-link{
            color: black;
            text-decoration: none;
        }
        
    }
}

#notesBlock {
    background-color: aliceblue;
    width: 40%;
    justify-content: center;
    margin: 0 auto;
}

.note {
    border: 2px solid;
    margin-bottom: 5px;
    padding: 5px;
}

.textarea {
    resize: none;
}

nav{
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    a{
        width: 30%;
        background-color: black;
        color: white;
        text-align: center;
    }
}
article{
    margin: 600px 0;
    width: 100%;
    border: 2px solid black;
}
.progresbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 20px;
    background-color: chartreuse;
}

